{{ define "main" }}

<header>
    
    <h1>{{ "SVCC" }}</h1>
    {{- if $.Site.Params.theme_config.show_description -}}
        <p>{{ $.Site.Params.description }}</p>
    {{- end -}}
</header>
{{ .Content }}
{{- range $item := $.Site.Data.menu.entries }}
<section>
    <h2>{{ safeHTML $item.title }}</h2>
    {{- with $item.entries }}
    {{ partial "menu_item.html" (dict "context" $ "collection" .) }}
    {{- end }}
    {{- with $item.post_list }}
    {{ partial "post_list.html" (dict
        "context" $
        "section" .section
        "limit" .limit
        "show_more" .show_more
        "show_more_text" .show_more_text
        "show_more_url" .show_more_url
        ) }}
    {{- end }}
</section>
{{- end }}

{{ end }}